{% extends "layout.html" %}
{% block title %}NSWT GTFS Timetable - Run Number{% endblock %}


{% block container %}

<div class="starter-template text-center py-5 px-3">
	<h1>NSWT GTFS - Audio</h1>
	<h3 class="mt-3">Generate Audio - Approach, At, Depart </h3>
	<div class="row">
    	<div class="col-12">
	      <table class="table table-bordered">
	        <thead>
	          <tr>
	          	<th scope="col">Type</th>
	            <th scope="col">Text</th>
	            <th scope="col">Generate</th>
	            <th scope="col">Play Audio</th>
	          </tr>
	        </thead>
	        <tbody>
	        
	          <tr>
	            <th scope="row">Approach</th>
	            <form action="/audio" method="post">
		            <td>
		            <textarea class="form-control" rows="2" id="approach_audio_text" name="approach_audio_text"></textarea>
		            </td>         	
		            <td>
					    <input type="hidden" id="generate_approach_audio" name="generate_approach_audio" value="Yes">
					    <button type="submit" scope="col" class="btn btn-primary">Generate</button>
					</td>
				</form>
	            <td>
					<button type="submit" class="btn btn-primary" onclick="play_audio('approach')">Play</button>
	            </td>
	          </tr>
	          
	          
	          <tr>
	            <th scope="row">At</th>
	            <form action="/audio" method="post">
		            <td>
		            <textarea class="form-control" rows="2" id="at_audio_text" name="at_audio_text"></textarea>
		            </td>         	
		            <td>
					    <input type="hidden" id="generate_at_audio" name="generate_at_audio" value="Yes">
					    <button type="submit" scope="col" class="btn btn-primary">Generate</button>
					</td>
				</form>
	            <td>
					<button type="submit" class="btn btn-primary" onclick="play_audio('at')">Play</button>
	            </td>
	          </tr>
	          
	          <tr>
	            <th scope="row">Depart</th>
	            <form action="/audio" method="post">
		            <td>
		            <textarea class="form-control" rows="2" id="depart_audio_text" name="depart_audio_text"></textarea>
		            </td>         	
		            <td>
					    <input type="hidden" id="generate_depart_audio" name="generate_depart_audio" value="Yes">
					    <button type="submit" scope="col" class="btn btn-primary"">Generate</button>
					</td>
				</form>
	            <td>
					<button type="submit" class="btn btn-primary" onclick="play_audio('depart')">Play</button>
	            </td>
	          </tr>
	          
	        </tbody>
	      </table>
   		</div>
 	</div>
	
	
	
	
	<form action="/audio" method="post">
	  <div class="form-row mt-4">
	     <input type="hidden" id="generate_audio" name="generate_audio" value="Yes">
	    <div class="form-group col-md-3">
		    <div class="justify-content-md-center">
		    	<label>Generate Audio with stop_name</label>
		    </div>
			<button type="submit" class="btn btn-primary">Generate All Stations Audio</button>
	    </div>
	  </div>
	</form>

	
	<div class="row">
    	<div class="col-12">
	      <table class="table table-bordered">
	        <thead>
	          <tr>
	          	<th scope="col">stop_id</th>
	            <th scope="col">stop_code</th>
	            <th scope="col">stop_name</th>
	            <th scope="col">Play Audio</th>
	          </tr>
	        </thead>
	        <tbody>
	        {% for entry in entries %}
	          <tr>
	            <th scope="row">{{ entry.stop_id }}</th>
	            <td>{{ entry.stop_code }}</td>
	            <td>{{ entry.stop_name }}</td>
	            <td>
	              <button type="button" class="btn btn-primary" onclick="play_station_audio('{{ url_for('static', filename='audio/'+entry.stop_code+'.mp3' ) }}')">Play</button>
	            </td>
	          </tr>
	        {% else %}
	        	<tr><td>What? No stops found at database?</td></tr>
	        {% endfor %}
	        </tbody>
	      </table>
   		</div>
 	</div>
	
		
</div>

<script src="{{ url_for('static', filename='custom_js/audio_page.js') }}"></script>

<!-- Serialize object data to js -->
<script type="text/javascript">js_json_data_obj = myFunc({{js_json_data|tojson}})</script>
{% endblock %}