{% extends "layout.html" %}
{% block title %}GTFS Timetable - Sample{% endblock %}

{% block container %}

  <div class="starter-template text-center py-5 px-3">
    <h1>GTFS Timetable</h1>
    <p class="lead">Working in progress....<br> :)</p>
    {% for message in get_flashed_messages() %}
    	<div class=flash>{{ message }}</div>
  	{% endfor %}
  </div>

{% endblock %}

