{% extends "layout.html" %}
{% block title %}NSWT GTFS Timetable - Sample{% endblock %}

{% block container %}

  <div class="starter-template text-center py-5 px-3">


  <head>
    <style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
    </style>
    
  </head>
  <body>
    <h3>Set Google Maps API Key</h3>
    <form action="/google_map" method="post" id="myform">
		<td>
			<textarea class="form-control" rows="2" id="google_map_api_key" name="google_map_api_key"></textarea>
		</td>
		<td>
			<button class="btn btn-primary mr-5" scope="col" type="submit">Set</button>
		</td>
	</form>
    
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
    
      src="{{key_link}}"
      async
    ></script>
  </body>
  </div>
<script src="{{ url_for('static', filename='custom_js/map_handling.js') }}"></script>
<script src="{{ url_for('static', filename='custom_js/google_map.js') }}"></script>
<script type="text/javascript">
cookie_obj = getCookie('page_cookie_json');
display_map_APIKey();
</script>

{% endblock %}

