{% extends "layout.html" %}
{% block title %}NSWT GTFS Timetable - Open Data API Key{% endblock %}


{% block container %}

<div class="starter-template text-center py-5 px-3">
	<h1>OPEN DATA - NSWT GTFS Dataset Download</h1>

	<div class="row">
    	<div class="col-12">
	      <table class="table table-bordered">
	        <thead>
	          <tr>
	          	<th scope="col">Type</th>
	          	<th scope="col">Publisher Name</th>
	            <th scope="col">Version</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	            <th scope="row">In Use</th>
	            <td>{{ entries[0].feed_publisher_name }}</td>
	            <td>{{ entries[0].feed_version }}</td>
	          </tr>
	          <tr>
	            <th scope="row">Downloaded</th>
	            {% if entry2 %}
	            <td>{{ entry2[0].feed_publisher_name }}</td>
	            <td>{{ entry2[0].feed_version }}</td>
	            {% else %}
	            <td>Nothing, please download</td>
	            <td>Nothing, please download</td>
	            {% endif %}
	          </tr>
	        </tbody>
	      </table>
   		</div>
 	</div>

	<h2>API Key</h2>
	<form action="/gtfs_update" method="post" id="myform">
		<td>
			<textarea class="form-control" rows="2" id="op_data_api_key" name="op_data_api_key"></textarea>
		</td>
		<input type="hidden" id="convert_to_db" name="convert_to_db" value="No">      	
		<td>
			<button class="btn btn-primary mr-5" scope="col" type="button" onclick="setAPIKey()">Set</button>
			<button class="btn btn-primary mr-5" scope="col" type="submit">Download</button>
			<button class="btn btn-primary mr-5" scope="col" type="button" onclick="convertGTFS()">Convert</button>
		</td>
	</form>
</div>	
<script src="{{ url_for('static', filename='custom_js/gtfs_update_page.js') }}"></script>

<script type="text/javascript">
js_json_data_obj = myFunc({{js_json_data|tojson}});
cookie_obj = getCookie('page_cookie_json');
displayAPIKey()
</script>

{% endblock %}

