<!doctype html>
<html lang="en">
<head>

{% block head %}
<title>{% block title %}{% endblock %} </title>

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<!-- Bootstrap compiled and minified CSS -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}"></script>
<!-- Popper JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

<!-- Bootstrap compiled JavaScript -->
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}
</head>



<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Timetable GTFS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/run_number">Run Number</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/audio">Audio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gtfs_update">Database Update</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/google_map">Google Map Setup</a>
      </li>
    </ul>
  </div>
</nav>


<main class="container">
	{% block container %}{% endblock %}
</main>

</body>
</html>


