{% extends "layout.html" %}
{% block title %}NSWT GTFS Timetable - Run Number{% endblock %}


{% block container %}


<div class="starter-template text-center py-5 px-3">
	<h1>NSWT GTFS Timetable - Run Number</h1>
	
	<div class="sticky">
		<div class="container">
			<div class="row justify-content-start">
				<div class="col col-sm-2">
			    	<button class="btn btn-primary" id="sim_start_button" type="button" onclick="start_run()">Start</button>
			    </div>
			    <div class="col col-sm-2">
			    	<button class="btn btn-primary" id="sim_stop_button" type="button" onclick="stop_run()">Stop</button>
			    </div>
			    <div class="w-20">
			    	<span class="d-block text-white p-2">Elapsed Time:</span>
			    </div>
			    <div class="col">
			    	<span class="d-block p-2 bg-info text-white" id="elapsed_time">--:--:--</span>
			    </div>
			</div>
		
			
			<div class="row justify-content-start">
			  <div class="col col-sm-2">
			    <button class="btn btn-primary btn-sm" id="increase_speed_button" type="button" onclick="increase_speed()" disabled>Increase Speed</button>
			  </div>
			  <div class="col col-sm-2">
			    <button class="btn btn-primary btn-sm" id="decrease_speed_button" type="button" onclick="decrease_speed()" disabled>Decrease Speed</button>
			  </div>
			</div>
		</div>
		
	
		<table class="table table-sm table-bordered table-dark">
			<thead>
			    <tr>
					<th scope="col">Field</th>
					<th scope="col">Value</th>
					<th scope="col">Field</th>
					<th scope="col">Value</th>
			    </tr>
		  	</thead>
			<tbody>
				<tr>
			   		<td>Run Number</td>
			     	<td id="sim_run_number">-</td>
			     	<td>Next StopID</td>
			     	<td id="sim_next_stopID">-</td>
			   	</tr>
			   	<tr>
			   		<td>Simulated Speed</td>
			     	<td id="sim_speed">-</td>
			     	<td>Distance to Next Stop</td>
			     	<td id="sim_dist_delta">-</td>
			   	</tr>
				<tr>
			   		<td>Current Distance Travelled (km)</td>
			     	<td id="dist_travelled">-</td>
			     	<td>Next Stop at Distance (km)</td>
			     	<td id="sim_next_stop_dist">-</td>
			   	</tr>
			 </tbody>
		</table>
	</div>
	    
	
	
	
	<form action="/run_number" method="post" id="run_number_form">
	  <div class="form-row mt-4">
	    <div class="form-group col-md-3">
	      <label for="input_date">Date</label>
	      <input type="date" class="form-control" id="input_date" name="input_date">
	    </div>
	    <div class="form-group col-md-3">
	      <label for="input_run_number">Run Number</label>
	      <input type="text" class="form-control" id="input_run_number" name="input_run_number">
	    </div>
	    
	    <div class="form-group col-md-3">
		    <div class="justify-content-md-center">
		    	<label></label>
		    </div>
			<button type="button" class="btn btn-primary" onclick="load_Timetable()">Load</button>
	    </div>
	    
	    
	  </div>
	</form>

	<div style="overflow-x:auto;" class="mb-4 mt-4">
	  <table class="my_table">
	  	<thead>
	    <tr>
	      <th>stop_name</th>
	      <th>trip_short_name</th>
	      <th>service_id</th>
	      <th>route_direction</th>
	      <th>arrival_time</th>
	      <th>Date Time</th>
	      <th>wheelchair_boarding</th>
	      <th>platform_code</th>
	      <th>pickup_type</th>
	      <th>drop_off_type</th>
	      <th>Symbol</th>
	      <th>route_long_name</th>
	      <th>trip_headsign</th>
	      <th>stop_headsign</th>
	      <th>shape_dist_traveled</th>
	      <th>stop_timezone</th>
	      <th>monday</th>
	      <th>tuesday</th>
	      <th>wednesday</th>
	      <th>thursday</th>
	      <th>friday</th>
	      <th>saturday</th>
	      <th>sunday</th>
	      <th>start_date</th>
	      <th>end_date</th>
	    </tr>
	    </thead>
	    <tbody>
	    {% for entry in entries %}{% set outer_loop = loop %}{% for entry2 in entries %}{% if outer_loop.index+1 == loop.index %}
	    <tr next_stop_code={{ entry2.stop_code }} next_shape_dist={{ entry2.shape_dist_traveled }} stop_code={{ entry.stop_code }} shape_dist_traveled={{ entry.shape_dist_traveled }} class="clickable-row" onclick="play_state_station_audio('at', '{{ url_for('static', filename='audio/') }}', '{{ entry.stop_code }}')">
	      <td>{{ entry.stop_name }}</td>
	      <td>{{ entry.trip_short_name }}</td>
	      <td>{{ entry.service_id }}</td>
	      <td>{{ entry.route_direction }}</td>
	      <td>{{ entry.arrival_time }}</td>
	      <td>{{ entry.datetime_str }}</td>
	      <td>{{ entry.wheelchair_boarding }}</td>
	      <td>{{ entry.platform_code }}</td>
	      <td>{{ entry.pickup_type }}</td>
	      <td>{{ entry.drop_off_type }}</td>
	      <td>{{ entry.symbol }}</td>
	      <td>{{ entry.route_long_name }}</td>
	      <td>{{ entry.trip_headsign }}</td>
	      <td>{{ entry.stop_headsign }}</td>
	      <td>{{ entry.shape_dist_traveled }}</td>
	      <td>{{ entry.stop_timezone }}</td>
	      <td>{{ entry.monday }}</td>
	      <td>{{ entry.tuesday }}</td>
	      <td>{{ entry.wednesday }}</td>
	      <td>{{ entry.thursday }}</td>
	      <td>{{ entry.friday }}</td>
	      <td>{{ entry.saturday }}</td>
	      <td>{{ entry.sunday }}</td>
	      <td>{{ entry.start_date }}</td>
	      <td>{{ entry.end_date }}</td>
	    </tr>{% elif entry == entries|last and outer_loop.index == loop.index %}
	    <tr next_stop_code=null next_shape_dist=null stop_code={{ entry.stop_code }} shape_dist_traveled={{ entry.shape_dist_traveled }} class="clickable-row" onclick="play_state_station_audio('at', '{{ url_for('static', filename='audio/') }}', '{{ entry.stop_code }}')">
	      <td>{{ entry.stop_name }}</td>
	      <td>{{ entry.trip_short_name }}</td>
	      <td>{{ entry.service_id }}</td>
	      <td>{{ entry.route_direction }}</td>
	      <td>{{ entry.arrival_time }}</td>
	      <td>{{ entry.datetime_str }}</td>
	      <td>{{ entry.wheelchair_boarding }}</td>
	      <td>{{ entry.platform_code }}</td>
	      <td>{{ entry.pickup_type }}</td>
	      <td>{{ entry.drop_off_type }}</td>
	      <td>{{ entry.symbol }}</td>
	      <td>{{ entry.route_long_name }}</td>
	      <td>{{ entry.trip_headsign }}</td>
	      <td>{{ entry.stop_headsign }}</td>
	      <td>{{ entry.shape_dist_traveled }}</td>
	      <td>{{ entry.stop_timezone }}</td>
	      <td>{{ entry.monday }}</td>
	      <td>{{ entry.tuesday }}</td>
	      <td>{{ entry.wednesday }}</td>
	      <td>{{ entry.thursday }}</td>
	      <td>{{ entry.friday }}</td>
	      <td>{{ entry.saturday }}</td>
	      <td>{{ entry.sunday }}</td>
	      <td>{{ entry.start_date }}</td>
	      <td>{{ entry.end_date }}</td>
	    </tr>{% endif %}{% endfor %}{% else %}
	    <div class="row">
	    <tr>No entries found, please input valid run number</tr>
	    </div>
		{% endfor %}
		</tbody>
	  </table>
	</div>


	
	<div class="d-grid gap-2 d-md-block mb-5">
		<button class="btn btn-primary btn-lg mr-5" type="button" onclick="play_state_station_audio('approach', '{{ url_for('static', filename='audio/') }}', cookie_obj.current_station_code)">Approach</button>
		<button class="btn btn-primary btn-lg mr-5" type="button" onclick="play_state_station_audio('at', '{{ url_for('static', filename='audio/') }}', cookie_obj.current_station_code)">At</button>
		<button class="btn btn-primary btn-lg mr-5" type="button" onclick="play_state_station_audio('depart', '{{ url_for('static', filename='audio/') }}', cookie_obj.current_station_code)">Depart</button>
	</div>
	
	
	
	<div class="list-group mb-4 mt-4" id="display_group">
		<div class="list-group-item list-group-item-dark">
		  <div class="row">
		    <div class="col-md">
		      Run Number
		    </div>
		    <div class="col-md">
		      Front External Display Indicator
		    </div>
		    <div class="col-md">
		      Side External Display Indicator
		    </div>
		    <div class="col-md">
		      Internal Display Indicator
		    </div>
		  </div>
		</div>
		
		<div class="list-group-item">
			  <div class="row">
			    <div class="col-md">
			    	<div class="alert alert-info" role="alert" id="run_number"> </div>
			    </div>
			    <div class="col-md">
			    	<div class="alert alert-info" role="alert" id="FEDI"> </div>
			    </div>
			    <div class="col-md">
			    	<div class="alert alert-info" role="alert" id="SEDI"> </div>
			    </div>
			    <div class="col-md">
			    	<div class="alert alert-info" role="alert" id="MIDI"> </div>
			    </div>
			  </div>
		</div>

	</div>
</div>


<div id="map" style="height: 354px; width:713px;"></div>
<script 
	src="{{key_link}}" 
	async
></script>

<script src="{{ url_for('static', filename='custom_js/map_handling.js') }}"></script>
<script src="{{ url_for('static', filename='custom_js/run_number_page.js') }}"></script>
<script src="{{ url_for('static', filename='custom_js/simulate_run.js') }}"></script>

<!-- Serialize object data to js -->
<script type="text/javascript">
js_json_data_obj = myFunc({{js_json_data|tojson}});
cookie_obj = getCookie('page_cookie_json');
shapes_data = {{shapes_data|tojson}};
</script>




<style>
.my_table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.my_table th, td {
  text-align: left;
  padding: 8px;
}

.clickable-row {
	cursor: pointer;
}

.my_table tr:nth-child(even){background-color: #f2f2f2}


div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: grey;
  padding: 50px;
  font-size: 20px;
}

</style>


{% endblock %}